<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,target-densitydpi=high-dpi,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<title>腾庆科技</title>
<link href="css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
<div  id="ctmargin">
<div id="slide" class="banner">
	<article class="container">
		<section>
		      <figure id="content_slider" class="swipslider">
		        <ul class="sw-slides">
		          <li class="sw-slide" v-for="banner in banners">
		            <figure class="wanted sw-content">
		              <img :src="banner" alt="Mafia Boss">
		            </figure>
		          </li>
		        </ul>
		      </figure>
		</section>
	</article>
</div>
<div class="tqnav">
	<ul>
    	<li v-for="(tqnav,index) in tqnavs">
        	<a :href="tqnav.html">
            	<img :src="tqnav.img"/>
            	<p>{{tqnav.text}}</p>
            </a>
        </li>
    </ul>
</div>
<div v-for="(customer,index) in customers" class="introduce customerbox" :class="customer.class">
	<div class="ctmargin customer">
    	<div class="customertitle">
        	<div class="customertitleh2">
            	<h3>{{customer.title}}</h3>
            	<h2>{{customer.title2}}</h2>
            </div>
            <span></span>
        </div>
        <p class="customertitlep">{{customer.text}}</p>
    	<img :class="customer.classlr" :src="customer.img"/>
        <div class="customers" :class="customer.classlrt">
            <p v-for="(customerp,index) in customer.customerps"><span>{{customerp.text}}</span>{{customerp.text2}}</p>
        </div>
    </div>
</div>

<div class="bottom">
	<div class="ctmargin bottomcm">
        <div class="left bottomcmdz">
        	<p>地址：湖南省长沙市开福区绿地中心T3</p>
            <p>电话TEL:0731-88185238</p>
            <p>主营范围：小程序开发、网站设计、app开发、定制开发、ERP、OA、CRM、Saas</p>
        </div>
        <div class="right bottomcmdzimg"><img src="images/index_59.png"/></div>
    </div>
</div>
</div>
</body>
<script src="js/vue.js"></script>
<script src="js/style.js" ></script>
<script src="js/jquery.min.js"></script>
<script src="js/jquery-yys-slider.js"></script> 
<script src="js/pane.js"></script>
<script type="text/javascript" src="js/swipeslider.min.js"></script>
<script>
$(window).load(function() {
		      $('#full_feature').swipeslider();
		      $('#content_slider').swipeslider({
		        transitionDuration: 600,
		        autoPlayTimeout: 10000,
		        sliderHeight: '300px'
		      });
		      $('#responsiveness').swipeslider();
		      $('#customizability').swipeslider({
		        transitionDuration: 1500, 
		        autoPlayTimeout: 4000, 
		        timingFunction: 'cubic-bezier(0.38, 0.96, 0.7, 0.07)',
		        sliderHeight: '30%'});
		    });
</script>
</html>
