<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>腾庆科技</title>
<link href="css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
<div  id="ctmargin">
<div class="top">
    <div class="ctmargin">
        <div class="logo left"><img src="images/index_03.png"/></div>
        <div class="navigation right">
            <ul>
                <li class="click"><a href="index.html">首页</a></li>
                <li><a href="serviceitem.html">服务项目</a></li>
                <li><a href="customer.html">增值服务</a></li>
                <li><a href="case.html">成功案例</a></li>
                <li><a href="about.html">关于我们</a></li>
            </ul>
        </div>
    </div>
</div>
<div id="slide" class="banner">
	<ul>
		<li v-for="banner in banners"><img :src="banner"></li>
	</ul>
	<div>
		<span class="prev_btn"> < </span>
		<span class="next_btn"> > </span>
	</div>
</div>
<div class="ctmargin understandtq">
	<h3>看了这个你就知道为什么选择我们了？</h3>
    <ul>
    	<li v-for="(utq, index) in utqs">
        	<img :src="utq.img"/>
            <h4>{{utq.title}}</h4>
            <p>{{utq.text}}</p>
        </li>
    </ul>
</div>
<div class="introduce">
	<div class="introducebox">
        <div class="introduces">
            <h4>只有您想不到的,没有我们做不到的！</h4>
            <p>腾庆网络科技成立于2018年12月，</p>
    		<p>是一家经营小程序代理、销售、服务于一体的科技公司，</p>
    		<p>本公司拥有年轻的互联网行业精英成员，在代理微容小程序的基础上，</p>
    		<p>独立制作网页，提供不同行业的行业服务，</p>
    		<p>致力于通过产品和服务，助力中小企业向智能商业转型升级，</p>
    		<p>用技术驱动商业革新，帮助企业商铺更好的引流，让其推广更高效。</p>
        </div>
        <img src="images/index_30.png"/>
    </div>
</div>
<div class="ctmargin cbtq">
	<h2>核心业务<span></span></h2>
    <ul>
    	<li v-for="(cbtq,index) in cbtqs" :class="cbtq.class">
        	<div class="cbtqimg"><img :src="cbtq.img"/></div>
            <h4>{{cbtq.title}}</h4>
            <p>{{cbtq.text}}</p>
            <div class="clear"></div>
        </li>
    </ul>
</div>
<div class="casetq">
	<div class="ctmargin">
    	<h2>成功案例<span></span></h2>
        <ul>
            <li v-for="(casetq,index) in casetqs" >
                <div class="casetqimg"><img :src="casetq.img"/></div>
                <p><b>简介:</b> {{casetq.brief}}</p>
                <p><b>主要组件：</b> {{casetq.main}}</p>
                <p><b>适应行业：</b> {{casetq.adapt}}</p>
                <div class="clear"></div>
            </li>
        </ul>
    </div>
</div>
<div class="bottom">
	<div class="ctmargin bottomcm">
    	<div class="left bottomcmba"><img src="images/index_60.jpg"/></div>
        <div class="left bottomcmdz">
        	<p>地址：湖南省长沙市开福区绿地中心T3</p>
            <p>电话TEL:0731-88185238</p>
            <p>主营范围：小程序开发、网站设计、app开发、定制开发、ERP、OA、CRM、Saas</p>
        </div>
        <div class="right"><img src="images/index_59.png"/></div>
    </div>
</div>
</div>
<script src="js/vue.js"></script>
<script src="js/style.js" ></script>
<script src="js/jquery.min.js"></script>
<script src="js/jquery-yys-slider.js"></script> 
<script src="js/pane.js"></script>
<script src="js/xcConfirm.js"></script>
<div class="Informationfloat">
	<div class="sgBtn" id="btn1">
    	<img src="images/phone.png" /><p>热线电话</p>
    </div>
	<div class="sgBtn" id="btn2">
    	<img src="images/wechat.png" /><p>微信咨询</p>
    </div>
	<div class="sgBtn" >
    	<a href="tencent://message/?uin=9019765&Site=&menu=yes">
    	<img src="images/qq.png" /><p>在线QQ</p>
        </a>
    </div>
	<div class="sgBtn" ><a href="#">top</a></div>
</div>
</body>

</html>
